.sidebar {
    width: 250px;
    background: #111;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-top h2 {
    padding: 20px;
}

.sidebar-menu div {
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar-bottom {
    padding: 20px;
    cursor: pointer;
    border-top: 1px solid #333;
}